extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Otavio Araujo

        p.lead.text-light
          | Full Stack JavaScript Developer. Former Dentist.

        .portfolio-bio
          p
            | Hi! My name is Otavio Araujo. I`m from Brazil but I am currently living in Ireland. I have been interested in technology since I was a kid, but only at 28 years of age
            | I have made the decision to learn how to program as a hobby. It so happens that this hobby turned into passion, and one year later this passion took over my life and 
            | I quit in t my job as a General Dentist and Orthodontist in Brazil and moved to Ireland to sharpen my english skills and to be able to dedicate myself to coding and making a
            | carrer out of it. It has been a beautiful journey so far. I am capable of doing developmenall areas of the stack, and good knowledge of HTML+CSS, JavaScript, React,
            | NodeJS, Express and various SQL databases.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JasvaScript
          li HTML
          li CSS
          li Express
          li Pug
          li jQuery
          li AJAX
          li Node
          li Git
          li OOJS
        h6 Contact Info

        ul
          li 555-555-1234
          li caotavio@hotmail.com

        a.button.expanded(href='', target="_blank", rel="noopener") LinkedIn
        a.button.expanded(href='https://github.com/caotavio', target="_blank", rel="noopener") GitHub
        a.button.expanded(href='', target="_blank", rel="noopener") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back