extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Otavio Araujo

        p.lead.text-light
          | Full Stack JavaScript Developer. Former Dental Surgeon and Orthodontist.

        .portfolio-bio
          p
            | Hi! My name is Otavio Araujo. I`m from Brazil but I am currently living in Ireland. I have been interested in technology since I was a kid, but only at 28 years of age
            | I have made the decision to learn how to program as a hobby. It so happens that this hobby turned into a passion and I've decided to start a more structured course in JavaScript.
            | A year later this passion took over my life and I quit in my job as a Dental Surgeon and Orthodontist in Brazil and moved to Ireland to sharpen my English skills and also
            | to be able to dedicate myself to coding and making a career out of it. I'm 31 now and it has been a beautiful journey so far. Since I moved here I was able to reach C1 (advanced)
            | level in English and with a lot of hard work I am now capable to develop backend and frontend applications using JavaScript, Typescript, React, NodeJS, Angular, C#, HTML+CSS and a few other technologies.
            | My main focus now is to keep coding and get better and better at web development to start to contribute to a company's growth with my work.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JasvaScript
          li TypeScript
          li C# + .NET Core
          li React
          li Angular
          li NodeJS
          li HTML
          li CSS
          li Express
          li Pug
          li jQuery
          li AJAX
          li Git
          li OOJS
          li DDD
        h6 Contact Info

        ul
          li otavio.araujodev@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/otavio-araujo-787191195/', target="_blank", rel="noopener") LinkedIn
        a.button.expanded(href='https://github.com/caotavio', target="_blank", rel="noopener") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back